<mat-card class="ranking mat-elevation-z2">
  <div class="ranking-header">
    <h1>排行榜</h1>
    <div class="user-query">
      <input type="search" placeholder="用户名" class="user-name-input" autocomplete="off">
      <button mat-raised-button color="primary"><mat-icon>search</mat-icon></button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="leaderboard">
    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row;">{{ row.ranking }}</td>
    </ng-container>

    <ng-container matColumnDef="user-name">
      <th mat-header-cell *matHeaderCellDef>用户名</th>
      <td mat-cell *matCellDef="let row;"><a class="link">{{ row.user.name }}</a></td>
    </ng-container>

    <ng-container matColumnDef="accepted-count">
      <th mat-header-cell *matHeaderCellDef>通过数</th>
      <td mat-cell *matCellDef="let row;">{{ row.acceptedCount }}</td>
    </ng-container>

    <ng-container matColumnDef="submission-count">
      <th mat-header-cell *matHeaderCellDef>提交总数</th>
      <td mat-cell *matCellDef="let row;">{{ row.submissionCount }}</td>
    </ng-container>

    <ng-container matColumnDef="ac-rate">
      <th mat-header-cell *matHeaderCellDef>通过率</th>
      <td mat-cell *matCellDef="let row;">{{ row.submissionCount > 0 ? ((row.acceptedCount / row.submissionCount) | percent: '1.2-2') : 'N/A' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>

  <mat-card-actions>
    <mat-paginator #paginator showFirstLastButtons [pageSize]="15"></mat-paginator>
  </mat-card-actions>
</mat-card>